html,
body {
  height: 100%;
  box-sizing: border-box;
  background: #e5e5e5;
}

nav {
  display: flex;
  justify-content: space-around;
  background: #fff;
}

.heading {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  padding-left: 3%;
  padding-right: 5%;
  background: #fff;
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 115px !important;
  background-size: 107%;
  border-radius: 0 0 0 55px;
  padding-bottom: 35px;
}

.header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 7px;
}

.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 7px;
}

.sub-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  font-family: 'Poppins', sans-serif;
  margin-top: 7px;
}
